{% extends 'base.html.twig' %}

{% block title %}Vocabulary index{% endblock %}

{% block body %}
    <h1>Vocabulary index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NativePhrase</th>
                <th>ForeignPhrase</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vocabulary in vocabularies %}
            <tr>
                <td>{{ vocabulary.id }}</td>
                <td>{{ vocabulary.nativePhrase }}</td>
                <td>{{ vocabulary.foreignPhrase }}</td>
                <td>
                    <a href="{{ path('app_vocabulary_edit_show', {'id': vocabulary.id}) }}">show</a>
                    <a href="{{ path('app_vocabulary_edit_edit', {'id': vocabulary.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vocabulary_edit_new') }}">Create new</a>
{% endblock %}
