{% extends 'base.html.twig' %}

{% block title %}Unit{% endblock %}

{% block body %}
    <h1>Unit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unit.id }}</td>
            </tr>
            <tr>
                <th>Identifier</th>
                <td>{{ unit.identifier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_unit_index') }}">back to list</a>

    <a href="{{ path('app_unit_edit', {'id': unit.id}) }}">edit</a>

    {{ include('unit/_delete_form.html.twig') }}
{% endblock %}
